<div class="competency-container-matrix">
  <div class="matrix-left-panel">
    {{charts.course-domain-matrix-chart userId=userId  subjectId=selectedSubject.id selectedSubject=selectedSubject onChooseDomain='onChooseDomain' domainCompetencyPullOut='domainCompetencyPullOut' showPullOut=showPullOut isSkylineEnabled=isSkylineEnabled}}
  </div>
  <div class="matrix-right-panel">
    <ul>
      {{#each subjects as |subject index|}}
        {{#if (lt index 4)}}
          <li {{action 'onChooseSubject' index}}>
            <div class="subject-{{index}} subject-name {{if (eq index 0) 'active'}}">{{subject.title}}</div>
            <div class="subject-{{index}} subject-round-icon {{if (eq index 0) 'active'}}"></div>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>

  {{#app-pull-out showPullOut=showPullOut title=selectedDomainData.code description=selectedDomainData.name showMore=showMore as |section| }}
    {{#if section.isLessContent}}
      {{gcm-pull-out-body
       contentCountData=contentCount
       isLoading=isLoading
       signatureContents=signatureContents
       nodeData=selectedDomainData
       breadcrumb=selectedDomainData.parent
     }} {{else if section.isMoreContent}} {{gcm-pull-out-more-content nodeData=selectedDomainData prerequisites=prerequisites courseContent=courseContent unitContent=unitContent lessonContent=lessonContent resourceContent=resourceContent collectionContent=collectionContent assessmentContent=assessmentContent questionContent=questionContent}}
    {{/if}}
  {{/app-pull-out}}

</div>
