<div class="section-title">
  {{t 'common.globalStatistics'}}
</div>
{{#each subjects as |subject|}}
  <div class="active-districts">
    <div class="districs">
      <span class="num-of-count">{{count-format subject.total}}</span>
      <span class="subject-total-count">{{subject.categoryId}} : {{subject.name}}</span>
      <span class="subject-learners">{{t 'common.learners'}}</span>
    </div>
    <div class="active-users">
      <div class="subject-active-count" {{action 'onSelectActiveUsers' subject}}>
        {{count-format subject.active}} {{t 'common.active-users'}}
      </div>
    </div>
  </div>
{{/each}}
<div class="clear"></div>
