<div class="card-panel-container">
  <div class="card-panel-header {{question.contentSubFormat}}" {{action 'getQuestionInfo' question}}>
    <div class="info">
      <div class="title">{{question.title}}</div>
    </div>
  </div>
  <div class="question-format-container">
    <span>{{t (concat "common.question-type." question.format)}}</span>
    {{#if (not question.isVisibleOnProfile)}}
      <div class="visibility  visible_false" title="{{t 'common.visibility-tooltip'}}" data-toggle="tooltip" data-placement="top" data-trigger="hover">
        {{app-icon name="visibility" class='pull-right cca-eye-icon'}}
      </div>
    {{else}}
      <div class="visibility visible_true" title="{{t 'common.visibility-available'}}" data-toggle="tooltip" data-placement="top" data-trigger="hover">
        {{app-icon name="visibility" class='pull-right cca-eye-icon'}}
      </div>
    {{/if}}
  </div>
  <div class="question-info-container">
    <div class="question-user-info">
      <div class="created-by">{{t (if question.sameOwnerAndCreator "common.created-by" "common.remixed-by")}}</div>
      <div class="img-container pull-left">
        <img class="img-responsive" src="{{question.owner.avatarUrl}}">
      </div>
      <div class="username">{{question.owner.displayName}}</div>
    </div>
    <div class="question-description">
      {{safe-html question.description}}
    </div>
    <div class="question-standards ">
      {{#if tags.length}}
        {{taxonomy.taxonomy-tag-list tags=tags tagsVisible=1 isInCard=true showDescription=true}}
      {{/if}}
    </div>

  </div>
  <div class="card-panel-footer">
    <div class="buttons-container">
      <div class="play-btn" title="Play" data-toggle="tooltip" data-placement="right" {{action "onPlayQuestion" question.id}}>{{app-icon name="ic_play_arrow"}}</div>
    </div>
    <div class="question-prefs-container">
      <span class="left-arc"></span>
      <span class="right-arc"></span>
      <div class="question-prefs relevance pull-left" style="background-color:rgba(0, 114, 188, {{question.relevance}})">
        <div class="count">{{question.relevance}}</div>
        <div class="title">{{t 'common.relevance'}}</div>
      </div>
      <div class="question-prefs engagement pull-left" style="background-color:rgba(0, 114, 188, {{question.engagement}})">
        <div class="count">{{question.engagement}}</div>
        <div class="title">{{t 'common.engagement'}}</div>
      </div>
      <div class="question-prefs efficacy pull-left" style="background-color:rgba(0, 114, 188, {{question.efficacy}})">
        <div class="count">{{question.efficacy}}</div>
        <div class="title">{{t 'common.efficacy'}}</div>
      </div>
    </div>
  </div>
</div>
