<div class="card-panel-container" {{action 'getunitInfo' unit}}>
  <div class="card-panel-header {{unit.contentSubFormat}}">
    <div class="info">
      <div class="title">{{unit.title}}</div>
    </div>
  </div>
  <div class="unit-format-container">
    <div class="assessment pull-left">
      <i class="icon"></i>
      <span>{{unit.assessmentCount}}</span>
    </div>
    <div class="collection pull-left">
      <i class="icon"></i>
      <span>{{unit.collectionCount}}</span>
    </div>
  </div>
  <div class="unit-info-container">
    <div class="unit-user-info">
      <div class="created-by">{{t (if unit.sameOwnerAndCreator "common.created-by" "common.remixed-by")}}</div>
      <div class="img-container pull-left">
        <img class="img-responsive" src="{{unit.owner.avatarUrl}}">
      </div>
      <div class="username">{{unit.owner.displayName}}</div>
    </div>
    <div class="unit-description">
      {{safe-html unit.description}}
    </div>
    <div class="unit-standards ">
      {{#if tags.length}}
        {{taxonomy.taxonomy-tag-list tags=tags tagsVisible=1 isInCard=true showDescription=true}}
      {{/if}}
    </div>

  </div>
  <div class="card-panel-footer">
    <div class="buttons-container">
      <div class="play-btn">{{app-icon name="ic_play_arrow"}}</div>
    </div>
    <div class="unit-prefs-container">
      <span class="left-arc"></span>
      <span class="right-arc"></span>
      <div class="unit-prefs relevance pull-left" style="background-color:rgba(0, 114, 188, {{unit.relevance}})">
        <div class="count">{{unit.relevance}}</div>
        <div class="title">{{t 'common.relevance'}}</div>
      </div>
      <div class="unit-prefs engagement pull-left" style="background-color:rgba(0, 114, 188, {{unit.engagement}})">
        <div class="count">{{unit.engagement}}</div>
        <div class="title">{{t 'common.engagement'}}</div>
      </div>
      <div class="unit-prefs efficacy pull-left" style="background-color:rgba(0, 114, 188, {{unit.efficacy}})">
        <div class="count">{{unit.efficacy}}</div>
        <div class="title">{{t 'common.efficacy'}}</div>
      </div>
    </div>
  </div>
</div>
