<div class="competencies-header">
  <div class="domain-section {{if isDomainView 'domainActive' ''}}" {{action "onChangeHeaderView" 'domain'}}>
    Domain
  </div>
  <div class="course-section {{if isCourseView 'courseActive' ''}}" {{action "onChangeHeaderView" 'course'}}>
    Course
  </div>
  <div class="list-section {{if isListView 'listActive' ''}}" {{action "onChangeHeaderView" 'list'}}>
    List
  </div>
</div>
