<div class="lesson-content">
  <div class="lesson-header">
    <div class="lesson-icon"> <i> </i></div>

    <div class="title">
      <span class="title-text ellipsis" {{action "onClickLessonTitle" lesson.lessonId}}>
        {{safe-html lesson.lessonTitle}}
      </span>

    </div>
    <div class="lesson-status">
      <div class="score">
        {{charts.completion-bar score=lesson.lessonAsmtScore}}
      </div>
      <div class="status" style="color: {{colorStyle}};">
        {{concat lesson.lessonAsmtScore '%'}}
      </div>
      <div class="time">
        {{timespent}}
      </div>
    </div>
  </div>
  <div class="lesson-body">
    {{#if isLoading}}
      {{three-bounce-spinner}}
    {{else}}
      <div class="collections">
        {{#each collections as |collection|}}
          {{learner.course-accordion-collection unitId=unitId lessonId=lesson.lessonId courseId=courseId collection=collection userId=userId classId=classId}}
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>
